<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PhishTension</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link href="/static/32.png" rel="icon" type="image/png" />
<link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="details">
			<p>
                This created the revision <code>{{Revision}}</code> of the Cloud Run service <code>{{Service}}</code>.
                The Current URL: {{url}}
                Feature 2 = <code>{{f2}}</code>
                Feature 3 = <code>{{f3}}</code>
            </p>
</body>
</html>
